<label for="base-input">Input base: </label>
<input id="base-input" type="text" /><br /><br />

<button (click)="increaseOrDecrease(-1)">-{{ base }}</button>

<span>{{ number }}</span>

<button (click)="increaseOrDecrease(1)">+{{ base }}</button>
