<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
    <div class="col">
        <app-characters></app-characters>
    </div>

    <div class="col">
        <app-add-character [newCharacter]="newCharacter"></app-add-character>
    </div>
</div>
