<h3>Add</h3>
<hr />

<form (ngSubmit)="addCharacter()">
    <input
        type="text"
        name="Name"
        placeholder="Name"
        [(ngModel)]="newCharacter.name"
    />
    <input
        type="number"
        name="power-lvl"
        placeholder="Power lvl"
        [(ngModel)]="newCharacter.powerLvl"
    />

    <button type="submit">Add</button>
</form>
