<h1>Hero Component</h1>

<dl>
    <dt>Name:</dt>
    <dd>{{ name }}</dd>

    <dt>Capitalized Name:</dt>
    <dd>{{ capitalizedName }}</dd>

    <dt>Age:</dt>
    <dd>{{ age }}</dd>

    <dt>All data:</dt>
    <dd>{{ getAllData() }}</dd>

    <button (click)="changeName()">Change Name</button><br /><br />
</dl>
