<h1>Heroes List</h1>

<div *ngIf="removedHero; else noRemoved">
    <h3>
        Last removed hero: <small>{{ removedHero }}</small>
    </h3>
</div>

<ng-template #noRemoved>
    <h3>No removed hero at this point</h3>
</ng-template>

<button (click)="removeFirstHero()">Remove First Hero</button>

<ul>
    <li *ngFor="let hero of heroes; let i = index">{{ i + 1 }} - {{ hero }}</li>
</ul>
